<h1>List of events</h1>
<%= link_to "Create New event", new_event_path %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">

    <table class="table table-striped ">
      <thead>
      <tr>
        <td>Event</td>
        <td>Date</td>
      </tr>
      </thead>
      <tbody>

      <% @events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.date %></td>
            <td><%= link_to "Talks", [event, :talks] %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>